#ant specific
dist/
build/
 
#netbeans specific
core
nbproject/*
nbproject/project.properties
nbproject/project.xml
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Package Files
*.jar
*.war
*.ear
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

